/* All common css */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* All common css */

/* Header Part Start */
.banner {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 808px;
}

.banner_item {
    text-align: right;
    padding-right: 230px;
}

.banner_item h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    padding-top: 216px;
    color: white;
}

.banner_item p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    padding: 15px 20px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border-radius: 5px;
    border: none;
}

/* Header Part End */

/* Failure part start */
.failure {
    padding: 100px 200px 0;
    background-color: white;
}

.failure_part {
    display: flex;
}

.failure_item {
    margin-left: 60px;
    margin-top: 300px;
}

.failure_item h2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.failure_item p {
    margin-top: 20px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.failure_item ul li{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    list-style-type: none;
}
.failure_item ul li img{
    width: 16px;
    height: 14px;
}

/* Failure part end */

/* My plan part start */
.plan {
    padding: 100px 200px;
}

.my_plan h2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.web h3 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.web p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    margin-top: 10px;
    margin-bottom: 100px;
}

.call_now {
    background: url('../images/watch.png');
    height: 300px;
    width: 1100px;
    border-radius: 8px;
    position: relative;
}

.overlay {
    position: absolute;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    height: 300px;
    width: 1100px;
    z-index: 99;
}

.overlay h3 {
    color: white;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-top: 59px;
    margin-left: 64px;
}

.overlay button {
    padding: 15px 20px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border-radius: 5px;
    border: none;
    margin-left: 64px;
    margin-top: 20px;
}
/* My plan part end */

/* My team part start  */
.team{
    padding-top: 100px;
}
.my_team h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}
.member{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.member_skills h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.member_skills p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
} 
/* My team part end  */

/* Footer Part Start  */
.footer_part {
    padding: 130px 230px;
    background-color: black;
    display: flex;
}

.future_part h3 {
    color: white;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;

}

.future_part p {
    color: white;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-top: 10px;
}

.future_img {
    display: flex;
}

.future_img img {
    margin-right: 17px;
    margin-top: 26px;
}

.subscribe_part {
    margin-left: 360px;
}

.subscribe_part h3 {
    color: white;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
}

.subscribe_part form input {
    width: 250px;
    background: black;
    color: white;
    border: 1px solid white;
    padding: 15px 10px;
    border-radius: 3px;
    margin-top: 20px;
}

.subscribe_part button {
    padding: 15px 20px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-color: #005FAC;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}

/* Footer Part End  */